@import url('https://fonts.googleapis.com/css?family=Patua+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

body {
   margin: 0;
   padding: 0;
   color: #fff;
   background-image: url(images/background-noel.jpeg);
   background-repeat: no-repeat;
   background-size: cover;
   font-family: "Patua One", cursive;
   text-align: center;
   /* -webkit-perspective: 1000px;
   perspective: 1000px; */
   -webkit-transform-style: preserve-3d;
   transform-style: preserve-3d;
}

#container {
   position: relative;
   width: 100%;
   height: 100vh;
   background-size: cover;
   background-position: center;
   background-color: rgba(0, 0, 0, 0.5);
   overflow: hidden;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.snow {
   position: absolute;
   top: 0;
   left: 0;
   width: 50px;
   height: 50px;
   background-image: url(images/snow.png);
   background-size: cover;
   animation: animationSnow 4s ease-in-out infinite;
}

@keyframes animationSnow {
   0% {
      transform: translate(0, 0);
      opacity: 0;
      transform: scaleX(1);
   }

   50% {
      opacity: 1;
   }

   80% {
      transform: scale3d(1.1, 1.1, 1.1);
   }

   100% {
      opacity: 0;
      transform: scaleX(1);
      transform: translate(100px, 50vh);
   }
}

.countdown-container {
   margin-top: 20px;
}

.countdown-container h1 {
   font-size: 4rem;
   letter-spacing: 0.2rem;
   margin-block-end: 0;
}

.label {
   font-size: 2.0rem;
   color: #fec54d;
}

#timer {
   font-size: 5.5rem;
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-template-rows: 100px 0px;
   justify-items: center;
   grid-column-gap: 40px;
}

#timer .animated {
   animation-name: pulse;
   animation-duration: 1s;
   animation-timing-function: linear;
   animation-fill-mode: both;
   animation-iteration-count: infinite;
}

.b-page_newyear {
   margin-bottom: -85px;
}

/* .b-page__content {
   min-height: 160px
} */

.b-head-decor {
   display: none
}

.b-page_newyear .b-head-decor {
   position: absolute;
   top: -10px;
   left: 0;
   display: block;
   height: 115px;
   width: 100%;
   overflow: hidden;
   background: url(images/b-head-decor_newyear.png) repeat-x 0 0;
}

.b-page_newyear .b-head-decor__inner {
   position: absolute;
   top: 0;
   left: 0;
   height: 115px;
   display: block;
   width: 373px
}

.b-page_newyear .b-head-decor::before {
   content: '';
   display: block;
   position: absolute;
   top: -115px;
   left: 0;
   z-index: 3;
   height: 115px;
   display: block;
   width: 100%;
   box-shadow: 0 15px 30px rgba(0, 0, 0, 0.75)
}

.b-page_newyear .b-head-decor__inner_n2 {
   left: 373px
}

.b-page_newyear .b-head-decor__inner_n3 {
   left: 746px
}

.b-page_newyear .b-head-decor__inner_n4 {
   left: 1119px
}

.b-page_newyear .b-head-decor__inner_n5 {
   left: 1492px
}

.b-page_newyear .b-head-decor__inner_n6 {
   left: 1865px
}

.b-page_newyear .b-head-decor__inner_n7 {
   left: 2238px
}

.b-ball {
   position: absolute
}

.b-ball_n1 {
   top: 0;
   left: 3px;
   width: 59px;
   height: 83px
}

.b-ball_n2 {
   top: -19px;
   left: 51px;
   width: 55px;
   height: 70px
}

.b-ball_n3 {
   top: 9px;
   left: 88px;
   width: 49px;
   height: 67px
}

.b-ball_n4 {
   top: 0;
   left: 133px;
   width: 57px;
   height: 102px
}

.b-ball_n5 {
   top: 0;
   left: 166px;
   width: 49px;
   height: 57px
}

.b-ball_n6 {
   top: 6px;
   left: 200px;
   width: 54px;
   height: 70px
}

.b-ball_n7 {
   top: 0;
   left: 240px;
   width: 56px;
   height: 67px
}

.b-ball_n8 {
   top: 0;
   left: 283px;
   width: 54px;
   height: 53px
}

.b-ball_n9 {
   top: 10px;
   left: 321px;
   width: 49px;
   height: 66px
}

.b-ball_n1 .b-ball__i {
   background: url(images/b-ball_n1.png) no-repeat
}

.b-ball_n2 .b-ball__i {
   background: url(images/b-ball_n2.png) no-repeat
}

.b-ball_n3 .b-ball__i {
   background: url(images/b-ball_n3.png) no-repeat
}

.b-ball_n4 .b-ball__i {
   background: url(images/b-ball_n4.png) no-repeat
}

.b-ball_n5 .b-ball__i {
   background: url(images/b-ball_n5.png) no-repeat
}

.b-ball_n6 .b-ball__i {
   background: url(images/b-ball_n6.png) no-repeat
}

.b-ball_n7 .b-ball__i {
   background: url(images/b-ball_n7.png) no-repeat
}

.b-ball_n8 .b-ball__i {
   background: url(images/b-ball_n8.png) no-repeat
}

.b-ball_n9 .b-ball__i {
   background: url(images/b-ball_n9.png) no-repeat
}

.b-ball_i1 .b-ball__i {
   background: url(images/b-ball_i1.png) no-repeat
}

.b-ball_i2 .b-ball__i {
   background: url(images/b-ball_i2.png) no-repeat
}

.b-ball_i3 .b-ball__i {
   background: url(images/b-ball_i3.png) no-repeat
}

.b-ball_i4 .b-ball__i {
   background: url(images/b-ball_i4.png) no-repeat
}

.b-ball_i5 .b-ball__i {
   background: url(images/b-ball_i5.png) no-repeat
}

.b-ball_i6 .b-ball__i {
   background: url(images/b-ball_i6.png) no-repeat
}

.b-ball_i1 {
   top: 0;
   left: 0;
   width: 25px;
   height: 71px
}

.b-ball_i2 {
   top: 0;
   left: 25px;
   width: 61px;
   height: 27px
}

.b-ball_i3 {
   top: 0;
   left: 176px;
   width: 29px;
   height: 31px
}

.b-ball_i4 {
   top: 0;
   left: 205px;
   width: 50px;
   height: 51px
}

.b-ball_i5 {
   top: 0;
   left: 289px;
   width: 78px;
   height: 28px
}

.b-ball_i6 {
   top: 0;
   left: 367px;
   width: 6px;
   height: 69px
}

.b-ball__i {
   position: absolute;
   width: 100%;
   height: 100%;
   -webkit-transform-origin: 50% 0;
   -moz-transform-origin: 50% 0;
   -o-transform-origin: 50% 0;
   transform-origin: 50% 0;
   -webkit-transition: all .3s ease-in-out;
   -moz-transition: all .3s ease-in-out;
   -o-transition: all .3s ease-in-out;
   transition: all .3s ease-in-out;
   pointer-events: none
}

.b-ball_bounce .b-ball__right {
   position: absolute;
   top: 0;
   right: 0;
   left: 50%;
   bottom: 0;
   z-index: 9
}

.b-ball_bounce:hover .b-ball__right {
   display: none
}

.b-ball_bounce .b-ball__right:hover {
   left: 0;
   display: block !important
}

.b-ball_bounce.bounce>.b-ball__i {
   -webkit-transform: rotate(-9deg);
   -moz-transform: rotate(-9deg);
   -o-transform: rotate(-9deg);
   transform: rotate(-9deg)
}

.b-ball_bounce .b-ball__right.bounce+.b-ball__i {
   -webkit-transform: rotate(9deg);
   -moz-transform: rotate(9deg);
   -o-transform: rotate(9deg);
   transform: rotate(9deg)
}

.b-ball_bounce.bounce1>.b-ball__i {
   -webkit-transform: rotate(6deg);
   -moz-transform: rotate(6deg);
   -o-transform: rotate(6deg);
   transform: rotate(6deg)
}

.b-ball_bounce .b-ball__right.bounce1+.b-ball__i {
   -webkit-transform: rotate(-6deg);
   -moz-transform: rotate(-6deg);
   -o-transform: rotate(-6deg);
   transform: rotate(-6deg)
}

.b-ball_bounce.bounce2>.b-ball__i {
   -webkit-transform: rotate(-3deg);
   -moz-transform: rotate(-3deg);
   -o-transform: rotate(-3deg);
   transform: rotate(-3deg)
}

.b-ball_bounce .b-ball__right.bounce2+.b-ball__i {
   -webkit-transform: rotate(3deg);
   -moz-transform: rotate(3deg);
   -o-transform: rotate(3deg);
   transform: rotate(3deg)
}

.b-ball_bounce.bounce3>.b-ball__i {
   -webkit-transform: rotate(1.5deg);
   -moz-transform: rotate(1.5deg);
   -o-transform: rotate(1.5deg);
   transform: rotate(1.5deg)
}

.b-ball_bounce .b-ball__right.bounce3+.b-ball__i {
   -webkit-transform: rotate(-1.5deg);
   -moz-transform: rotate(-1.5deg);
   -o-transform: rotate(-1.5deg);
   transform: rotate(-1.5deg)
}

@media (max-width: 960px) {
   .b-page_newyear {
      margin-bottom: -85px;
   }
}

#drag-container,
#spin-container {
   position: relative;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   margin: auto;
   -webkit-transform-style: preserve-3d;
   transform-style: preserve-3d;
   -webkit-transform: rotateX(-10deg);
   transform: rotateX(-10deg);
}

#drag-container img,
#drag-container video {
   -webkit-transform-style: preserve-3d;
   transform-style: preserve-3d;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   line-height: 200px;
   font-size: 50px;
   text-align: center;
   -webkit-box-shadow: 0 0 8px #fff;
   box-shadow: 0 0 8px #fff;
   -webkit-box-reflect: below 10px linear-gradient(transparent, transparent, #0005);
}

#drag-container img:hover,
#drag-container video:hover {
   -webkit-box-shadow: 0 0 15px #fffd;
   box-shadow: 0 0 15px #fffd;
   -webkit-box-reflect: below 10px linear-gradient(transparent, transparent, #0007);
}

#drag-container p {
   font-family: Serif;
   position: absolute;
   top: 100%;
   left: 50%;
   -webkit-transform: translate(-50%, -50%) rotateX(90deg);
   transform: translate(-50%, -50%) rotateX(90deg);
   color: #fff;
}

#ground {
   /* width: 900px;
   height: 900px; */
   position: absolute;
   top: 100%;
   left: 50%;
   -webkit-transform: translate(-50%, -50%) rotateX(90deg);
   transform: translate(-50%, -50%) rotateX(90deg);
   background: -webkit-radial-gradient(center center,
         farthest-side,
         #9993,
         transparent);
}

#music-container {
   position: absolute;
   top: 0;
   left: 0;
}

@-webkit-keyframes spin {
   from {
      -webkit-transform: rotateY(0deg);
      transform: rotateY(0deg);
   }

   to {
      -webkit-transform: rotateY(360deg);
      transform: rotateY(360deg);
   }
}

@keyframes spin {
   from {
      -webkit-transform: rotateY(0deg);
      transform: rotateY(0deg);
   }

   to {
      -webkit-transform: rotateY(360deg);
      transform: rotateY(360deg);
   }
}

@-webkit-keyframes spinRevert {
   from {
      -webkit-transform: rotateY(360deg);
      transform: rotateY(360deg);
   }

   to {
      -webkit-transform: rotateY(0deg);
      transform: rotateY(0deg);
   }
}

@keyframes spinRevert {
   from {
      -webkit-transform: rotateY(360deg);
      transform: rotateY(360deg);
   }

   to {
      -webkit-transform: rotateY(0deg);
      transform: rotateY(0deg);
   }
}

a,a:hover,a:visited {
   outline: none;
   color: inherit;
   text-decoration: none;
}

footer {
   margin: 40px 0px;
   align-items: center;
   color: #fff;
   font-size: 4rem;
   font-family: 'Great Vibes', cursive;
}